* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
   --main-border-color: var(--gray-100); /*#f0f0f0*/
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background: rgb(70,70,73);
   background: linear-gradient(90deg, rgba(70,70,73,1) 1%, rgba(80,77,94,1) 32%, rgba(125,126,131,1) 100%);
   font-size: 1.2rem;
  }

.App {
    display: flex;
    flex-direction: column;
    width: 390px;
    height: 844px;
    padding: 20px;
    background-color: white;
}

.main {
  width: 390px;
  height: 600px;
}
